@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


header {
    background-color: rgba(227, 227, 227, 0.8);
    text-align-last: left;
    padding: 120px;
    border: 1px;
    margin: 0px 0px 20px 0px;
    font-family: "Caveat";
    background-image: url("../img/fruits-7357732_640.png");
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 12px;
}

header img {
  float: right; /* Alinea la imagen a la derecha */
  margin-left: 10px;  /*Agrega un margen a la izquierda para separarla del contenido del encabezado*/
}

p {
    background-color: rgba(227, 227, 227, 0.8);
    text-align-last: left;
    padding: 120px;
    border: 1px;
    margin: 0px 0px 20px 0px;
    font-family: "Caveat";
    /*background-image: url("../img/imagen-nosotros.png"); creo que debería ponerla como imagen suelta en section para darle un lugar a img y otro lugar a p sin que se superpongan tanto o transparencia porque marea para leer el p si estan superpuestas.*/
    opacity: 0,5;
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 24px;
}

img{
  opacity: 0.5;
}

.animate__animated.animate__bounce {
  --animate-duration: 1s;
}

main {
    background-color: rgba(251, 216, 158, 0.8);
    /*text-align-last: left;*/
    text-align-last: center;
    padding: 25px;
    border: 1px;
    margin: 0px 0px 20px 0px;
    font-family: "Caveat";
  }

.grid-container  {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px 50px;
  }

.grid-item  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

section {
    background-color: rgba(251, 216, 158, 0.8);
    text-align-last: center;
    padding: 10px;
    border: 1px;
    margin: 0px 0px 20px 0px;
    font-family: "Caveat";
  }


h2 {
    background-color: rgba(243, 175, 67, 0.8);
    text-align-last: center;
    padding: 10px;
    border: 1px;
    margin: 0px 0px 20px 0px;
    font-family: "Caveat";
  }

h4 {
    background-color: rgba(243, 175, 67, 0.8);
    text-align-last: center;
    padding: 10px;
    border: 1px;
    margin: 0px 0px 20px 0px;
    font-family: "Caveat";

}

footer {
    background-color: #ccd5ae;
    text-align-last: left;
    padding: 16px;
    border: 1px;
    margin: 0px 0px 0px 0px;
    font-family: "Caveat";
    font-size: 1px; /*ver si no conviene que todos los font size esten en em (relativa) para que sea responsive?? */

  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccd5ae;
  }

li {
    float: left;
  }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }

li a:hover {
    background-color: #5d6935;
  }


form {
  font-size: 1em ;
  font-family: "Noto+Sans&display"; /* necesito una fuente sans serif para que sea clara sin decorados extra*/
  color: #5a0404;
}

<<<<<<< HEAD
.flex-container {
  display: flex;
  background-color:#508f50 ; /*dejo el background color solo para visualizar bien cada cosa!! */
}

.flex-container > div {
  background-color: #dbf762;
  margin: 10px;
  font-size: 10px;  /*AUNQUE CAMBIO ESTO NO LO MODIFICA, DEBE SER QUE CAR YA LE ASIGNÓ TAMAÑO A ESE ELEMENTO PUNTUALMENTE, VER!!!*/
=======
.mi-main {
  background-color: rgba(251, 216, 158, 0.8);
  /*text-align-last: left;*/
  text-align-last: left;
  padding: 25px;
  border: 1px;
  margin: 0px 0px 20px 0px;
  font-family: "Caveat";
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  gap: 20px 50px;

}

.item0 {
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  background-color:  #e5989b;
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item2 {
  background-color:#fbc4ab;
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item3 {
  background-color:  #e5989b;
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item4 {
  background-color: #fbc4ab;
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item5 {
  background-color:  #e5989b;
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item6 {
  background-color: #fbc4ab;
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item7 {
  background-color:   #e5989b;
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item8 {
  background-color: #fbc4ab;
  border: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
>>>>>>> main
}



/* Media Queries para diseño responsive de bolsones.html  */

/* para mobile:  */
@media only screen and (max-width: 600px){
  .caja{
    width: 100%;
  }

}

/* para tablets */ 
@media only screen and (min-width: 600px){
  .caja{
    width: 50%;
  }
}

/* para computadoras: */
@media only screen and (min-width: 992px){
  .caja{
    width: 33% ;
  }
}