/* ------------- ESTILO DEL NAVBAR ----------  */

.navbar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #ccd5ae;
    padding: 0px, 0px, 0px, 0px;
}

.navbar-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    /*saca el puntito de lista */
    overflow: hidden;
    /*recordar qué era esto??*/
    margin: 0px;
    padding: 0px;
    /*esto tiene que quedar así*/
    height: 100%;

}
 
.navbar-titulos a {
    color: #000000;
    text-align: left;
    margin: 40px 40px;
    text-decoration: none;
}

/*que al pasar el cursor por el navbar cambie de color: OK  */
.navbar-items :hover {
    background-color: #5d6935;
}